﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@ViewData["Error"]
@ViewData["Success"]
<div class="container">
    <form id="addrone_form" method="post" class="row" asp-action="AddDrone">
        <fieldset class="col-md-4 col-md-offset-4">
            <div class="form-input row">
                <label for="email" class="col-md-4">Email:</label>
                <input id="email" type="text" name="email" class="col-md-8" value="" required/>
            </div>

            <div class="form-input row">
                <label for="ssid" class="col-md-4">Drone SSID:</label>
                <input id="ssid" type="text" name="ssid" class="col-md-8" value="" required/>
            </div>

            <div class="form-input row">
                <label for="dsid" class="col-md-4">DSID:</label>
                <select id="dsid" type="text" name="dsid" class="col-md-8" value="" required>
                    <option value="" selected>Select a DSID for this user</option>
                </select>
            </div>
<input type="submit" name="submit" value="Add Drone" />
        </fieldset>
    </form>
</div>
