﻿@{
    ViewData["Title"] = "Map";
    var ids = ViewData["ids"] as List<int?>;
}
<em>@ViewData["Error"]</em>
@ViewData["Message"]


<h2>Add a new Field</h2>

<form id="addfield_form" class="row" asp-action="AddField" method="post">
    <div class="col-sm-5 field-form">
        <fieldset class="row">
            <div class="form-input row">
                <label for="email" class="col-md-4">Email:</label>
                <input id="email" type="text" name="email" class="col-md-8" value="" /> 
            </div>
            <div class="form-input row">
                <label for="dsid" class="col-md-4">Docking Station ID:</label>
                <select id="dsid" type="text" name="dsid" class="col-md-8">
                @foreach (int? x in ids)
                {
                    <option value="@x">@x</option>
                }
                </select>
            </div>
            <input type="submit" name="submit" value="Save" />
        </fieldset>
    </div>
    <div id="map" class="col-sm-6 col-sm-offset-1 field-form"></div>
    <input id="coordinates" name="coordinates" type="hidden" value=""/>
    
</form>

