﻿
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>


@ViewData["Error"]
<div class="continer">
    <form id="login_form" method="post" class="row" asp-action="Register">
        <fieldset class="col-md-4 col-md-offset-4">
            <div class="form-input row">
                <label for="name" class="col-md-4">Name:</label>
                <input id="name" type="text" name="name" class="col-md-8" value="" />
            </div>

            <div class="form-input row">
                <label for="email" class="col-md-4">Email:</label>
                <input id="email" type="text" name="email" class="col-md-8" value="" />
            </div>

            <div class="form-input row">
                <label for="password" class="col-md-4">Password:</label>
                <input id="password" type="password" name="password" class="col-md-8" value="" />
            </div>

            <div class="form-input row">
                <label for="adminp" class="col-md-4">Admin user:</label>
                <input id="adminp" type="checkbox" name="adminp" class="col-md-8" value="true" />
            </div>
            <input type="submit" name="submit" value="Register" />
        </fieldset>
    </form>
</div>
