﻿@{
    @using DroneSystem.Models.Database;
    var drones = ViewData["Drones"] as List<Drone>;
}
<h2>@ViewData["Title"]</h2>


<div class="list-group container">
    <a href="#" class="list-group-item active row">
        <h4 class="list-group-item-heading col-md-6">Drone ID</h4>
        <h4 class="list-group-item-heading col-md-6">Owner</h4>
    </a>
    @foreach (Drone x in drones)
    {
        <div class="list-group-item row">
            <div class="list-group-item-text">
                <div class="row">
                    <div class="col-md-6">@x.ssid</div>
                    <div class="col-md-2">@x.email
                    </div>
                    <div class="col-md-1 col-sm-offset-2">
                        <button class="btn btn-info" type="button" id="addressSearch"  data-action="DeleteDrone-@x.ssid">Delete Drone</button>
                    </div>
                   
                </div>
            </div>
        </div>
    }
</div>