﻿@{
    @using DroneSystem.Models.Database;
    var fields = ViewData["Fields"] as List<Field>;
}
<h2>@ViewData["Title"]</h2>


<div class="list-group container">
    <a href="#" class="list-group-item active row">
        <h4 class="list-group-item-heading col-md-3">Field ID</h4>
        <h4 class="list-group-item-heading col-md-3">Owner</h4>
        <h4 class="list-group-item-heading col-md-3">DS</h4>
    </a>
    @foreach (Field x in fields)
    {
        <div class="list-group-item row">
            <div class="list-group-item-text">
                <div class="row">
                    <div class="col-md-3">@x.field_id</div>
                    <div class="col-md-3">
                        @x.email
                     </div>
                    <div class="col-md-3">
                        @x.ds_id
                    </div>
                <div class="col-md-1 col-sm-offset-1">
                    <button class="btn btn-info" type="button" id="addressSearch" data-action="DeleteFields-@x.field_id">Delete Field</button>
                </div>

            </div>
        </div>
    </div>
    }
</div>