﻿@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Drone System</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/login.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">DroneSystem</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    @if ((await AuthorizationService.AuthorizeAsync(User, null, "NotLogged")).Succeeded)
                    {
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    }
                    

                    @if ((await AuthorizationService.AuthorizeAsync(User, null, "User")).Succeeded)
                    {
                        <li><a asp-area="" asp-controller="Account" asp-action="YourLogs">My Logs</a></li>
                        <li><a asp-area="" asp-controller="Account" asp-action="MyFields">My Areas</a></li>
                        
                     }
                    @if ((await AuthorizationService.AuthorizeAsync(User, null, "AdminRole")).Succeeded)
                    {
                        <li><a asp-area="" asp-controller="Admin" asp-action="AddField">Add Field</a></li>
                        <li><a asp-area="" asp-controller="Admin" asp-action="AddDrone">Add Drone</a></li>
                        <li><a asp-area="" asp-controller="Admin" asp-action="ViewDrones">View Drones</a></li>
                        <li><a asp-area="" asp-controller="Admin" asp-action="ViewFields">View Fields</a></li>
                    }
                </ul>
                <ul class="nav navbar-nav pull-right">
                    @if ((await AuthorizationService.AuthorizeAsync(User, null, "User")).Succeeded || (await AuthorizationService.AuthorizeAsync(User, null, "AdminRole")).Succeeded)
                    {
                        <li><a asp-area="" asp-controller="Home" asp-action="Logout">Logout</a></li>
                    }
                    @if ((await AuthorizationService.AuthorizeAsync(User, null, "AdminRole")).Succeeded)
                    {
                        <li><a asp-area="" asp-controller="Home" asp-action="Register">Register</a></li>
                    }
                    @if ((await AuthorizationService.AuthorizeAsync(User, null, "User")).Succeeded)
                    {
                        <li><a asp-area="" asp-controller="Account" asp-action="EditProfile">Edit Profile</a></li>
                    }

                    @if ((await AuthorizationService.AuthorizeAsync(User, null, "NotLogged")).Succeeded)
                    {
                        <li><a asp-area="" asp-controller="Home" asp-action="Login">Login</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="position:relative; bottom:0;" class="container">
            <div class="row">
                <div class="col-md-2">
                    <h2>Community</h2>
                    <ul>
                        <li><a href="">Farmers' blog</a></li>
                        <li><a href="">Tips and tricks </a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-md-offset-3">
                    <h2>About Us</h2>
                    <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Contact credentials</a></li>
                        <li><a href="">Company Policy</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-md-offset-3">
                    <h2>Follow Us</h2>
                    <ul>
                        <li><a href="">Visit our Facebook Page!</a></li>
                        <li><a href="">Visit our Twitter Page!</a></li>
                        <li><a href="">Visit our Instagram Page!</a></li>
                        <li><a href="">Youtube</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <p>All rights reserved. Copyright &#169; DroneSystem.com</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <p><a href="">Terms  Conditions</a> | <a href="">Privacy Policy</a></p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfVqCam-7EQVSjL4GzXBTaq8ksQ5vmh1A&callback=initMap"
                asp-append-version="true" async defer>
        </script>
       

    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
       

       

        <script src="~/js/site.min.js" asp-append-version="true"></script>

        


    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
