﻿
@{
    ViewData["Title"] = "Register";
}

<h2>Edit profile</h2>

@ViewData["Success"]
@ViewData["Error"]
<div class="continer">
    <form id="profile_form" method="post" class="row" asp-action="EditProfile">
        <fieldset class="col-md-4 col-md-offset-4">
            <div class="form-input row">
                <label for="name" class="col-md-4">Name:</label>
                <input id="name" type="text" name="name" class="col-md-8" value="" />
            </div>

            <div class="form-input row">
                <label for="password" class="col-md-4">Password:</label>
                <input id="password" type="password" name="password" class="col-md-8" value="" />
            </div>
            <input type="submit" name="submit" value="Update" />
        </fieldset>
    </form>
</div>
