﻿
@{
    @using DroneSystem.Models.Database;
    ViewData["Title"] = "Map";
    var field = ViewData["Field"] as Field;
}

<h2>Field @field.field_id</h2>
<div id="map"></div>
<input type="hidden" id="field_coordinates" name="field_coordinates" value="@field.coordinates"/>
