﻿@{
    @using DroneSystem.Models.Database;
    var fields = ViewData["Fields"] as List<Field>;
    var surveys = ViewData["Surveys"] as List<Survey>;
}
<h2>@ViewData["Title"]</h2>


<div class="list-group">
    <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">Field ID</h4>
        
    </a>
    @foreach(Field x in fields){
        <div  class="list-group-item">
            <div class="list-group-item-text">
                <div class="row">
                    <div class="col-md-6">@x.field_id</div>
                    <div class="col-md-1 col-sm-offset-3">
                        <button class="btn btn-info" type="button" id="addressSearch" onclick="location.href='@Url.Action("Map", "Account", new { id = x.field_id})'">View Field</button>
                    </div>
                    
                    <div class="col-md-2">
                        @if (surveys.Any(s => s.field_id == x.field_id))
                        {
                            <button class="btn btn-success">Survey Pending</button>
                        }
                        else
                        { 
                            <button class="btn btn-info" data-action="StartSurvey-@x.field_id">Start Survey</button>
                        }


                    </div>

                 </div>

            </div>

        </div>
    }
</div>

