﻿@{
    ViewData["Title"] = "Here is a list of all of your surveys.";
    @using DroneSystem.Models.Database;
    var surveys = ViewData["Surveys"] as List<Survey>;
}

<h2>@ViewData["Title"]</h2>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    @foreach (Survey x in surveys)
    {
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Survey for Field ID: @x.field_id 
                        <div class="pull-right">@x.date</div>
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                
                    <img src="/Survey/result.jpg" alt="Alternate Text" />
                </div>
            </div>
        </div>
    }  
</div>



