﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="9000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/d1.jpg" alt="d1" class="img-responsive col-md-offset-3 col-md-6" />
            <div class="carousel-caption" role="option" data-spy="scroll" data-target=".navbar" data-offset="50">
            </div>
        </div>
        <div class="item">
            <img src="~/images/d2.jpg" alt="d2" class="img-responsive col-md-offset-3 col-md-6" />
            <div class="carousel-caption" role="option">
            </div>
        </div>
        <div class="item">
            <img src="~/images/d3.jpg" alt="d3" class="img-responsive col-md-offset-3 col-md-6" />
            <div class="carousel-caption" role="option">
            </div>
        </div>
        <div class="item">
            <img src="~/images/d4.jpg" alt="d4" class="img-responsive col-md-offset-3 col-md-6" />
            <div class="carousel-caption" role="option">
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>asdasdaasdasdasd md6 </h2>
        <ul>

            <li><a href="">asd</a> asdasdasdasdd</li>

        </ul>
    </div>
    <div class="col-md-6">
        <h2>asdasdasd  md 6</h2>
        <ul>
            <li><a href="">asdasdasd</a></li>
            <li><a href="">asdasdasdasd</a></li>
        </ul>
    </div>

</div>
