﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@ViewData["Error"]
<div class="container">
    <form id="login_form" method="post" class="row" asp-action="Login">
        <fieldset class="col-md-4 col-md-offset-4">
            <div class="form-input row">
                <label for="email" class="col-md-4">Email:</label>
                <input id="email" type="text" name="email" class="col-md-8" value="" />
            </div>

            <div class="form-input row">
                <label for="password" class="col-md-4">Password:</label>
                <input id="password" type="password" name="password" class="col-md-8" value="" />
            </div>
            <input type="submit" name="submit" value="Log in" />
        </fieldset>
    </form>
</div>
